.main-container{
    background: radial-gradient(at top, #FEFFFF, #A7CECC);
    min-height: 100vh;
}
.nav-container, .body-container{
    display: flex;
    justify-content:center;
}
.body-container{

}
.main-nav, .main-body{
    width: 100%;
    max-width:170vh ;
}

