{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
    <p>Hi {{ user_name }}</p>
    <p>your email:{{ user_email }}</p>

    <br><br>
    {% for product in products %}
        <div>
            <p>{{ product.name }}</p>
            <p>{{ product.count}}</p>
        </div>
    {% endfor %}
{% endblock %}
