{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/profile.css') }}">
{% endblock %}
{% block body %}
{#<div class="profile-main-container">#}
    {#<img src="/images/profile-alt.png" alt="">#}
    {#<div class="profile-data">#}
        {#<h5>{{ user.username }}</h5>#}

    {#</div>#}
{#</div>#}


{% endblock %}
