{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/profile.css') }}">
{% endblock %}
{% block body %}
<div class="profile-main-container">
    <img src="/images/profile-alt.png" class="user-icon" alt="">
    <div class="profile-data">
        <label>Username:</label>
        <h2 class="username">{{ user.username }}</h2>
        <label>Email:</label>
        <h3>{{ user.email }}</h3>

    </div>
</div>


{% endblock %}
